:root {
  --vp-nav-logo-height: 36px;
}

html.dark .light-only {
  display: none !important;
}

html:not(.dark) .dark-only {
  display: none !important;
}

html.dark .VPHero .image {
  mix-blend-mode: screen;
}

.VPHero .image .VPImage {
  max-width: none;
  max-height: none;
  width: 100%;
}

.VPHero .heading .text {
  font-size: 20px;
}

@media (min-width: 640px) {
  .VPHero .heading .text {
    font-size: 32px;
  }
}

@media (min-width: 960px) {
  .VPHero .image .image-container {
    justify-content: right;
    transform: none;
    position: relative;
  }

  .VPHero .image .image-bg {
    display: none;
  }

  .VPHero .image .VPImage {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    transform: none;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;

    height: 100%;
    position: absolute;
    right: 0;
  }

  .VPHero .main {
    background: linear-gradient(90deg, var(--vp-c-bg) 0%, var(--vp-c-bg) 85%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  .VPHero .heading .text {
    font-size: 36px;
  }
}

h3.doc-property {
  display: flex;
  gap: 10px;
  min-height: 32px;
  align-items: center;
  background: var(--vp-c-gray-3);
  padding-left: 10px;
  border-radius: 4px;
}

h3.doc-property code {
  padding: 0.2rem 0.2rem;
  line-height: 1rem;
  font-size: 0.75rem !important;
  color: var(--vp-c-indigo-2);
  background: none !important;
}

h4.doc-property {
  display: flex;
  gap: 10px;
}

h4.doc-property code {
  padding: 0.2rem 0.2rem;
  line-height: 1rem;
  font-size: 0.75rem !important;
  color: var(--vp-c-indigo-2);
  margin-left: 5px;
}

.python-docstring dt {
  font-weight: 600;
}
